body {
  margin: 0;
}

.progress-bar[aria-valuenow="0"] {
  transition: none;
}
.progress-bar {
  height: 30px;
  font-size: larger;
  color: hotpink;
  font-weight: bolder;
  font-family: cursive;
  font-style: italic;
}

@media (prefers-reduced-motion: no-preference) {
  .card-img {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.blink2 {
  animation: blinker 0.05s linear infinite;
  color: cyan;
}

@keyframes blinker {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

.visible {
  visibility: visible;
}
.invisible {
  visibility: hidden;
}
