body {
  margin: 0;
}

.progress-bar[aria-valuenow="0"] {
  transition: none;
}
.progress-bar {
  height: 30px;
  font-size: larger;
}

@media (prefers-reduced-motion: no-preference) {
  .card-img {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.blink {
            animation: blinker 0.2s linear infinite;
            color:cyan;
            
        }

@keyframes blinker {
            100% {
                opacity: 0.8;
                
            }        }